<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>feed Back Page</title>
  <link rel="stylesheet" href="../style/guestBook.css">
  <script src="../script/data.js" charset="utf-8"></script>
  <script src="../script/dataRender.js" charset="utf-8"></script>
</head>

<body onload="displayComments()" >
  <div id="innerwrapeer">
    <h1 align="right"><a href="../index.html"><< </a>Guest Book</h1>
    <div class="FeedBack">
      <h2>Leave a Comment</h2>
      <form action="feedBack" method="POST">
        <label> Name : </label><input type="text" name="name" value="" required><br><br>
        <label>Comment: </label>
        <textarea id="comment" name="comment" value=""></textarea><br><br>
        <input id="submit" type="submit" value="submit" onclick="getSomthing( )">
      </form>
    </div><br>
    <h3>Comment And Suggestion</h3>
    <h4>DATE_NAME_COMMENTS</h3>
      <table id="table"></table>
      <hr>
  </div>
</body>

</html>
